ion-header {
  .header-top {
    background: url("../../../assets/header-top.png") no-repeat top center;
    height: 10px;
  }
  ion-toolbar { 
    --border-width: 0;
    ion-img {
      width: 150px;
      height: 50px;;
    }
  }
}
ion-content {
  ion-label {
    h2 {
      margin: 10px 15px;
    }
  }
}