<ion-header translucent mode="ios">
  <div class="header-top"></div>
  <ion-toolbar>    
    <ion-img src="assets/logo.png"></ion-img>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-label>
    <h2>Categorías Productos</h2>
  </ion-label>

  <ion-card *ngFor="let c of Categories; let i = index" [routerLink]="['/products', c.id]">
    <ion-card-content>
      <ion-item>
        <ion-img src="../../../assets/categories/{{i}}.png"></ion-img>
        <ion-label>
          <h2>Calentador {{c.name}}</h2>
          <p>{{c.description}}</p>
        </ion-label>
      </ion-item>
    </ion-card-content>
  </ion-card>

</ion-content>
