ion-content {
  ion-card {
    margin-top: 20vh;
    padding: 20px 0;
    ion-img {
      margin-top: 10px;
      width: auto;
      height: 70px;
    }
    ion-list {
      ion-item {
      }
    }
  }
}