<ion-header translucent mode="ios">
  <div class="header-top"></div>
  <ion-toolbar>    
    <ion-img src="assets/logo.png"></ion-img>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-label>
    <h2>Inicio</h2>
  </ion-label>

  <ion-grid>
    <ion-row>
      <ion-col text-center class="seleccionador-wrapper">
        <a href="http://descubretucalentadoridealbosch.com/">
          <div class="seleccionador">
            <ion-label>Seleccionador</ion-label>
            <ion-img src="../../../assets/seleccionador.png"></ion-img>
          </div>   
        </a>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col routerLink="/categories">
        <ion-card>
          <ion-card-content text-center>
            <ion-img src="../../../assets/Productos.png"></ion-img>
            <ion-label>Productos bosch</ion-label>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col routerLink="/register-installation">
        <ion-card>
          <ion-card-content text-center>
            <ion-img src="../../../assets/Lapiz.png"></ion-img>
            <ion-label>Registrar instalación</ion-label>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col routerLink="/user-installations">
        <ion-card>
          <ion-card-content text-center>
            <ion-img src="../../../assets/Mis-Instalaciones.png"></ion-img>
            <ion-label>Registrar instalación</ion-label>
          </ion-card-content>
        </ion-card> 
      </ion-col>
      <ion-col>
        <ion-card>
          <ion-card-content text-center>
            <ion-img src="../../../assets/mis-puntos.png"></ion-img>
            <ion-label>Mis puntos</ion-label>
          </ion-card-content>
        </ion-card> 
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-content text-center>
            <ion-img src="../../../assets/Cursos.png"></ion-img>
            <ion-label>Cursos</ion-label>
          </ion-card-content>
        </ion-card> 
      </ion-col>
      <ion-col>
        <ion-card>
          <ion-card-content text-center>
            <ion-img src="../../../assets/Campannas.png"></ion-img>
            <ion-label>Campañas y novedades</ion-label>
          </ion-card-content>
        </ion-card> 
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col text-center class="seleccionador-wrapper">
        <a href="http://www.plomerossosbosch.com/index.php/canjea-tus-puntos/">
          <div class="seleccionador">
            <ion-img src="../../../assets/premios.png"></ion-img>
            <ion-label>Premios</ion-label>
          </div>   
        </a>
      </ion-col>
    </ion-row>
  </ion-grid>
<!-- 
  <ion-item>
    <a href="http://www.plomerossosbosch.com/index.php/canjea-tus-puntos/">
      <img src="../../../assets/premios.png" alt="">
      <h5>Premios</h5>
    </a>
  </ion-item> -->

  <div class="footer"></div>
</ion-content>
