ion-header {
  .header-top {
    background: url("../../../assets/header-top.png") no-repeat top center;
    height: 10px;
  }
  ion-toolbar { 
    --border-width: 0;
    ion-img {
      width: 150px;
      height: 50px;;
    }
  }
}
ion-content {
  ion-item {
    margin: 15px 10px;
    --inner-border-width: 0;
    ion-avatar {
      width: 40px;
      height: 40px;
    }
    ion-label {
      height: 56px;
      p {
        white-space: normal;
      }
    }
    &:nth-child(7) {
      --background: transparent;
      text-align: center;
      margin: 40px 0 20px;
      a {
        text-decoration: none;
        color: #337ab7;
        width: 100%;
        img {
          width: 50px;
          height: 50px;
        }
        h5 {
          text-transform: uppercase;
          line-height: 14px;
          margin: 10px 0 0;
          color: #222222;
          font-size: 14px;
        }
      }
    }
    @media screen and (max-width: 320px) {
      ion-label {
        height: 70px;
      }
    }
  }
  ion-grid {
    margin: 20px 0;
    ion-row {
      ion-col {
        margin: 10px;
        &.seleccionador-wrapper {
          a {
            text-decoration: none;
          }
          .seleccionador {
            ion-img {
              width: 80px;
              height: 80px;
              width: 100%;
              margin-top: 10px;
              padding-left: 10px;            
            }
            &::before {
              left: -1890px;
              content: ' ';
              position: absolute;
              width: 2000px;
              height: 30px;
              top: 50%;
              background: url('../../../assets/page-title.png') repeat-x center left;
              -webkit-transform: translate(0, -50%);
              -moz-transform: translate(0, -50%);
              -ms-transform: translate(0, -50%);
              -o-transform: translate(0, -50%);
              transform: translate(0, -50%);
            }
            &::after {
              right: -1865px;
              content: ' ';
              position: absolute;
              width: 2000px;
              height: 30px;
              top: 50%;
              background: url('../../../assets/page-title.png') repeat-x center left;
              -webkit-transform: translate(0, -50%);
              -moz-transform: translate(0, -50%);
              -ms-transform: translate(0, -50%);
              -o-transform: translate(0, -50%);
              transform: translate(0, -50%);
            }
          }
        }
        .menu-item {
          background-color: white;
          text-align: center;
          padding: 25px 10px;          
          .inner-item {
            height: 86px;
            padding-top: 10px;
            ion-img {
              width: 50px;
              height: 50px;
              margin: auto;
            }
            ion-label {
              font-weight: bold;
              margin-top: 15px;
              font-size: 12px;
              text-align: center;
            }
          }
          @media screen and (max-width: 320px) {
            .inner-item {
              height: 75px;
              padding: 0;
              ion-label {
                font-size: 10px;
              }
            }
          }
        }
      }
    }
  }

  ion-item {
    --background: transparent;
    text-align: center;
    margin: 40px 0 20px;
    a {
      text-decoration: none;
      color: #337ab7;
      width: 100%;
      img {
        width: 50px;
        height: 50px;
      }
      h5 {
        text-transform: uppercase;
        line-height: 14px;
        margin: 10px 0 0;
        color: #222222;
        font-size: 14px;
      }
    }
    @media screen and (max-width: 320px) {
      ion-label {
        height: 70px;
      }
    }
  }
  
  .footer {
    background: url("../../../assets/line.png") no-repeat bottom center;
    height: 3px;
  }
}

