ion-header {
  .header-top {
    background: url("../../../assets/header-top.png") no-repeat top center;
    height: 10px;
  }
  ion-toolbar { 
    --border-width: 0;
    ion-img {
      width: 150px;
      height: 50px;;
    }
  }
}
ion-content {
  ion-label {
    h2 {
      margin: 10px 15px;
    }
  }
  ion-grid {
    margin: 20px 0;
    ion-row {
      &:last-of-type {
        ion-col a .seleccionador ion-img{
          width: 60px;
          height: 60px;
        }
      }
      ion-col {
        &.seleccionador-wrapper {
          a {
            text-decoration: none;
          }
          .seleccionador {
            ion-img {
              width: 60px;
              height: 60px;
              width: 100%;
              margin: 10px auto;           
            }
            &::before {
              left: -1890px;
              content: ' ';
              position: absolute;
              width: 2000px;
              height: 30px;
              top: 50%;
              background: url('../../../assets/page-title.png') repeat-x center left;
              -webkit-transform: translate(0, -50%);
              -moz-transform: translate(0, -50%);
              -ms-transform: translate(0, -50%);
              -o-transform: translate(0, -50%);
              transform: translate(0, -50%);
            }
            &::after {
              right: -1890px;
              content: ' ';
              position: absolute;
              width: 2000px;
              height: 30px;
              top: 50%;
              background: url('../../../assets/page-title.png') repeat-x center left;
              -webkit-transform: translate(0, -50%);
              -moz-transform: translate(0, -50%);
              -ms-transform: translate(0, -50%);
              -o-transform: translate(0, -50%);
              transform: translate(0, -50%);
            }
          }
        }
        ion-card {
          margin: 0;
          ion-card-content {
            padding: 30px 15px;
            ion-img {
              width: 60px;
              height: 60px;
              margin: auto;
              margin-bottom: 5px;
            }
            ion-label {
              font-weight: bold;
              font-size: 12px;
            }
          }
          @media screen and (max-width: 320px) {
            ion-card-content {
              padding: 30px 10px;
              ion-img {
                width: 50px;
                height: 50px;
              }
              ion-label {
                font-size: 10px;
              }
            }            
          }
        }
      }
    }
  }
  
  .footer {
    background: url("../../../assets/line.png") no-repeat bottom center;
    height: 3px;
  }
}

