<ion-header translucent mode="ios">
  <div class="header-top"></div>
  <ion-toolbar>    
    <ion-img src="assets/logo.png"></ion-img>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-grid>
    <ion-row>
      <ion-col routerLink="/categories">
        <div class="menu-item">
          <div class="inner-item">
            <ion-img src="../../../assets/Productos.png"></ion-img>
            <ion-label>Productos bosch</ion-label>
          </div>
        </div>
      </ion-col>
      <ion-col>
        <div class="menu-item">
          <div class="inner-item">
            <ion-img src="../../../assets/Lapiz.png"></ion-img>
            <ion-label>Registrar instalación</ion-label>
          </div>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div class="menu-item">
          <div class="inner-item">
            <ion-img src="../../../assets/Mis-Instalaciones.png"></ion-img>
            <ion-label>Mis instalaciones</ion-label>
          </div>
        </div>
      </ion-col>
      <ion-col>
        <div class="menu-item">
          <div class="inner-item">
            <ion-img src="../../../assets/mis-puntos.png"></ion-img>
            <ion-label>Mis puntos</ion-label>
          </div>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div class="menu-item">
          <div class="inner-item">
            <ion-img src="../../assets/Cursos.png"></ion-img>
            <ion-label>Cursos</ion-label>
          </div>
        </div>
      </ion-col>
      <ion-col>
        <div class="menu-item">
          <div class="inner-item">
            <ion-img src="../../../assets/Campannas.png"></ion-img>
            <ion-label>Campañas y novedades</ion-label>
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-item>
    <a href="http://www.plomerossosbosch.com/index.php/canjea-tus-puntos/">
      <img src="../../../assets/premios.png" alt="">
      <h5>Premios</h5>
    </a>
  </ion-item>

  <div class="footer"></div>
</ion-content>
