<ion-header translucent mode="ios">
  <div class="header-top"></div>
  <ion-toolbar>    
    <ion-img src="assets/logo.png"></ion-img>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <!-- <ion-item>
    <ion-avatar slot="start">
      <img src="../../assets/Productos.png"/>
    </ion-avatar>
    <ion-label>
      <h2>Productos bosch</h2>
      <p>Descubre los productos Bosch disponibles.</p>
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-avatar slot="start">
      <img src="../../assets/Lapiz.png"/>
    </ion-avatar>
    <ion-label>
      <h2>Registrar instalación</h2>
      <p>Registra tus instalaciones para ganar puntos.</p>
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-avatar slot="start">
      <img src="../../assets/Mis-Instalaciones.png"/>
    </ion-avatar>
    <ion-label>
      <h2>Mis instalaciones</h2>
      <p>Revisa todas tus instalaciones realizadas.</p>
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-avatar slot="start">
      <img src="../../assets/mis-puntos.png"/>
    </ion-avatar>
    <ion-label>
      <h2>Mis puntos</h2>
      <p>Revisa los puntos acumulados gracias a tus instalaciones.</p>
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-avatar slot="start">
      <img src="../../assets/Cursos.png"/>
    </ion-avatar>
    <ion-label>
      <h2>Cursos</h2>
      <p>Consulta los cursos gratuitos del programa de mejora  constante Bosch.</p>
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-avatar slot="start">
      <img src="../../assets/Campañas.png"/>
    </ion-avatar>
    <ion-label>
      <h2>Campañas y novedades</h2>
      <p>Descubre las últimas noticias de los productos Bosch.</p>
    </ion-label>
  </ion-item>
  <ion-item>
    <a href="http://www.plomerossosbosch.com/index.php/canjea-tus-puntos/">
      <img src="../../assets/premios.png" alt="">
      <h5>Premios</h5>
    </a>
  </ion-item> -->

  <ion-grid>
    <ion-row>
      <ion-col>
        <div class="menu-item">
          <div class="inner-item">
            <ion-img src="../../assets/Productos.png"></ion-img>
            <ion-label>Productos bosch</ion-label>
          </div>
        </div>
      </ion-col>
      <ion-col>
        <div class="menu-item">
          <div class="inner-item">
            <ion-img src="../../assets/Lapiz.png"></ion-img>
            <ion-label>Registrar instalación</ion-label>
          </div>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div class="menu-item">
          <div class="inner-item">
            <ion-img src="../../assets/Mis-Instalaciones.png"></ion-img>
            <ion-label>Mis instalaciones</ion-label>
          </div>
        </div>
      </ion-col>
      <ion-col>
        <div class="menu-item">
          <div class="inner-item">
            <ion-img src="../../assets/mis-puntos.png"></ion-img>
            <ion-label>Mis puntos</ion-label>
          </div>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div class="menu-item">
          <div class="inner-item">
            <ion-img src="../../assets/Cursos.png"></ion-img>
            <ion-label>Cursos</ion-label>
          </div>
        </div>
      </ion-col>
      <ion-col>
        <div class="menu-item">
          <div class="inner-item">
            <ion-img src="../../assets/Campañas.png"></ion-img>
            <ion-label>Campañas y novedades</ion-label>
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-item>
    <a href="http://www.plomerossosbosch.com/index.php/canjea-tus-puntos/">
      <img src="../../assets/premios.png" alt="">
      <h5>Premios</h5>
    </a>
  </ion-item>

  <div class="footer"></div>
</ion-content>
