ion-header {
  .header-top {
    background: url("../../assets/header-top.png") no-repeat top center;
    height: 10px;
  }
  ion-toolbar { 
    --border-width: 0;
    ion-img {
      width: 150px;
      height: 50px;;
    }
  }
}
ion-content {
  ion-item {
    margin: 15px 10px;
    --inner-border-width: 0;
    ion-avatar {
      width: 50px;
      height: 50px;
    }
    ion-label {
      height: 56px;
      p {
        white-space: normal;
      }
    }
    &:nth-child(7) {
      --background: transparent;
      text-align: center;
      margin: 40px 0 20px;
      a {
        text-decoration: none;
        color: #337ab7;
        width: 100%;
        img {
          width: 50px;
          height: 50px;
        }
        h5 {
          text-transform: uppercase;
          line-height: 14px;
          margin: 10px 0 0;
          color: #222222;
          font-size: 14px;
        }
      }
    }
  }
  .premios {
    margin: 35px 15px 40px;
    overflow: hidden;
    .icon {
      display: table;
      margin: 0 auto;
      position: relative;
      text-align: center;
      a {
        text-decoration: none;
        color: #337ab7;
        img {
          width: 50px;
          height: 50px;
        }
        h5 {
          text-transform: uppercase;
          line-height: 14px;
          margin: 10px 0 0;
          color: #222222;
          font-size: 14px;
        }
      }
      &::before, &::after {
        content: ' ';
        position: absolute;
        height: 30px;
        width: 50px;
        top: 50%;
        transform: translate(0, -50%);
        background: url("../../assets/page-title.png") repeat-x center left;
      }
    }
  }
  .footer {
    background: url("../../assets/line.png") no-repeat bottom center;
    height: 3px;
  }
}

